<!doctype html>
<html>
  <head>
    <title>Anna's Travel App</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="boards_ctrl.js"></script>
    <!-- <script src="popup.js"></script> -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div ng-app="app">
      <div ng-controller="boardsController" ng-init="setup()">
        <p class="title">oyster</p>

        <select ng-model="board_id">
            <option ng-repeat="board in boards" value="{{ board.id }}">{{ board.address }}</option>
        </select>   
        <input type="text" placeholder="Text" ng-model="text"/>
        <button class="btn" ng-click="addPin(text, board_id)">Pin this page now</button>      

<!-- 
        <form>
          <input type="text" id="name" placeholder="Name" name="text" />
          <textarea id="text" value="Add Notes"></textarea>
          <p id="selectBoard">Select Board!!!:
            <select id="dropdown">
              <option value=""></option>
            </select>
          </p>
          <br />
          <button id="checkPage" class="btn">Pin this page now</button>      
        </form> -->
      </div>
    </div>
  </body>
</html>